:root {
  --color-primary: #fa4529;
  --color-secondary: #8a8a8a;
  --general-background: #fbf5f3;
  --photo-background: #e2e7e3;
  --montserrat: 'Montserrat', sans-serif;
  --montserrat-extra-light: 200;
  --montserrat-extra-regular: 400;
  --montserrat-semi-bold: 600;
  --lora: 'Lora', serif;
  --lora-regular: 400;
}

* {
  box-sizing: border-box;
  font-size: 8px;
  margin: 0;
  padding: 0;
  background-color: var(--general-background);
  font-family: var(--lora);
  font-weight: var(--lora-regular);
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-family: var(--lora);
  font-weight: var(--lora-regular);
}

::-webkit-scrollbar {
  background: var(--general-background);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

::selection {
  background: var(--color-primary);
}

.bio-column {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .bio-column {
    width: 100%;
  }
}

.ks-small-block {
  width: 100%;
  padding: 0 160px;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: row;
  gap: 6rem;
}
@media screen and (max-width: 800px) {
  .ks-small-block {
    padding: 0 8px;
    flex-direction: column;
  }
}
